@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@600&display=swap');
body {
    line-height: 1.5;
    font-family: Gill Sans, sans-serif;
    /* font-weight: 400; */
}

body.hidden-scroling {
    overflow-y: hidden;
}

* {
    margin: 0;
    box-sizing: border-box;
}

.container1 {
    width: 100%;
    margin-top: 0;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}


/* HEADER HAI YAHA PE  */

.header {
    position: fixed;
    width: 100%;
    /* left: 0; */
    /* top: 0; */
    z-index: 999;
    padding: 0px;
    margin-top: 0;
}

.header-main {
    background-color: #000;
    display: flex;
    justify-content: space-between;
    padding: 3px 0;
    /* border-radius: 10px; */
    box-shadow: 2px 2px;
}

.header .logo {
    padding: 0 15px;
    margin-top: 3px;
}

.header .logo a {
    font-size: 30px;
    text-transform: capitalize;
    color: #39b7ff;
    font-weight: 600;
}

.header .logo a img {
    width: 100%;
    height: 50px !important;
    padding-right: 2rem !important;
}

.header .nav-menu {
    padding: 0 50px;
}

.header .menu>.menu-item {
    display: inline-block;
    margin-left: 20px;
    position: relative;
}

.header .menu>.menu-item>a {
    display: block;
    padding: 12px 0;
    font-size: 14px;
    color: #ffffff;
    font-family: Gill Sans, sans-serif;
    font-weight: 400;
    transition: all 0.3s ease;
}

.header .menu>.menu-item>.sub-menu>.menu-item:hover>a,
.header .menu>.menu-item:hover>a {
    color: #39b7ff;
}

.header .menu>.menu-item>.sub-menu {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    width: 220px;
    position: absolute;
    left: 0;
    top: 100%;
    background-color: #ffffff;
    padding: 10px 0;
    border-top: 3px solid #39b7ff;
    transform: translateY(10px);
    transition: all 0.3s ease;
    opacity: 0;
    visibility: hidden;
}

@media (min-width: 992px) {
    .header .menu>.menu-item-has-children:hover>.sub-menu {
        transform: translateY(0);
        opacity: 1;
        visibility: visible;
    }
    .header .menu>.menu-item-has-children:hover>a .plus:after {
        transform: translate(-50%, -50%) rotate(0deg);
    }
}

.header .menu>.menu-item>.sub-menu>.menu-item {
    display: block;
}

.header .menu>.menu-item>.sub-menu>.menu-item>a {
    display: block;
    padding: 10px 20px;
    font-size: 16px;
    font-weight: 600;
    color: #000000;
    transition: all 0.3s ease;
    text-transform: capitalize;
}

.header .open-nav-menu {
    height: 34px;
    width: 40px;
    margin-right: 15px;
    margin-top: 5px;
    display: none;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.header .open-nav-menu span {
    display: block;
    height: 3px;
    width: 24px;
    background-color: #39b7ff;
    position: relative;
}

.header .open-nav-menu span:before,
.header .open-nav-menu span:after {
    content: "";
    position: absolute;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #39b7ff;
    box-sizing: border-box;
}

.header .open-nav-menu span:before {
    top: -7px;
}

.header .open-nav-menu span::after {
    top: 7px;
}

.header .close-nav-menu {
    height: 40px;
    width: 40px;
    background-color: #ffffff;
    margin: 0 0 15px 15px;
    cursor: pointer;
    display: none;
    align-items: center;
    justify-content: center;
}

.header .close-nav-menu img {
    width: 16px;
}

.header .menu-overlay {
    position: fixed;
    z-index: 999;
    background-color: rgba(0, 0, 0, 0.5);
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    visibility: hidden;
    opacity: 0;
    transition: all 0.3s ease;
}

.header .menu-overlay.active {
    visibility: visible;
    opacity: 1;
}


/* home section yaha se shuru ho raha hai  */

.home-section {
    width: 100%;
    display: block;
    min-height: 100vh;
    background-image: url("../images/about2.jpg");
    background-position: center top;
    background-size: cover;
}


/* responsive ka sara material yaha pe hai  */

@media (max-width: 756px) {
    .header .nav-menu {
        position: fixed;
        right: -280px;
        visibility: hidden;
        width: 280px;
        height: 100%;
        top: 0;
        overflow-y: auto;
        z-index: 1000;
        padding: 15px 0;
        background-color: #222222;
        transition: all 0.5s ease;
    }
    .header .nav-menu.open {
        visibility: visible;
        right: 0px;
    }
    .header .menu>.menu-item {
        display: block;
        margin: 0;
    }
    .header .menu>.menu-item-has-children>a {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .header .menu>.menu-item>a {
        color: #ffffff;
        padding: 12px 15px;
        border-bottom: 1px solid #333333;
    }
    .header .menu>.menu-item:first-child>a {
        border-top: 1px solid #333333;
    }
    .header .menu>.menu-item>a .plus:before,
    .header .menu>.menu-item>a .plus:after {
        background-color: #ffffff
    }
    .header .menu>.menu-item-has-children.active>a .plus:after {
        transform: translate(-50%, -50%) rotate(0deg);
    }
    .header .menu>.menu-item>.sub-menu {
        width: 100%;
        position: relative;
        opacity: 1;
        visibility: visible;
        border: none;
        background-color: transparent;
        box-shadow: none;
        transform: translateY(0px);
        padding: 0px;
        left: auto;
        top: auto;
        max-height: 0;
        overflow: hidden;
    }
    .header .menu>.menu-item>.sub-menu>.menu-item>a {
        padding: 12px 45px;
        color: #ffffff;
        border-bottom: 1px solid #333333;
    }
    .header .close-nav-menu,
    .header .open-nav-menu {
        display: flex;
    }
}


/* yaha se heading and main page start ki css start ho rahi hai 
 */

.heading {
    background: transparent;
    margin-top: 20rem;
    position: absolute;
    z-index: 99;
}

.hero {
    text-align: center;
    color: #fff;
    font-size: 2.5rem;
    font-weight: 700;
}

.hero1 {
    text-align: center;
    color: #fff;
    font-size: 20px;
    letter-spacing: 3px;
    font-weight: 500;
}


/* story wala section yaha se start ho raha hai  */

.fstdiv33 {
    padding: 15px;
    padding-top: 55px;
}

.clfab2 {
    width: 100%;
}

.ourstory_h1 {
    font-size: 32px;
    text-transform: none;
    margin-bottom: 10px;
    color: #00a2fe !important;
    font-weight: 600;
    text-align: center;
}

.ourstory_p1 {
    font-size: 17.5px;
    text-align: justify;
}


/* we stand ka section yaha se start ho raha hai  */

.pt-0 {
    padding-top: 0!important;
}

.ourteam_div1 {
    text-align: left;
    padding: 8%;
    padding-top: 0%;
    padding-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
}

.header_div1 {
    margin-bottom: 15px;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

.ourteam65 {
    width: 100%;
    text-align: center;
    color: #00a2fe !important;
    font-size: 32px;
    font-weight: 500;
    text-transform: none;
    margin-bottom: 60px;
    margin-bottom: 10px;
    font-weight: 600;
}

.ourstory_p2 {
    font-size: 18px;
    text-align: center;
}

.con1 {
    position: relative;
    width: 360px;
    height: 250px;
    display: inline-block;
    margin: 10px 1%;
}

.image1 {
    display: block;
    width: 360px;
    height: 250px;
}

.overlay1 {
    position: absolute;
    transition: all 0.5s ease-in-out;
    opacity: 0;
    background-color: #024e80;
    ;
}

.con1:hover .overlay1 {
    opacity: 1;
}

.text1 {
    color: white;
    position: absolute;
    top: 50%;
    left: 55%;
    transform: translate(-50%, -50%);
    font-size: 10px;
    /* line-height: 3px; */
}

.overlayLeft1 {
    height: 100%;
    width: 0;
    top: 0;
    left: 0;
}

.con1:hover .overlayLeft1 {
    width: 100%;
}

.text1 {
    width: 100%;
}

.text1 h2 {
    font-size: 15px;
}

.text1 p {
    font-size: 10px;
    text-align: justify;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    /* width: 100%; */
}

.img-fluid {
    max-width: fit-content;
    height: 100%;
    width: auto;
}

.conimghed {
    display: flex;
    justify-content: center;
    background-color: black;
}

.imghead {
    color: #fff;
    font-size: 1rem;
    letter-spacing: 4px;
}

.industries_ul1 {
    list-style: none;
    line-height: 22px;
    text-align: left;
    margin-left: 0px !important;
    color: #fff;
    padding-top: 10px;
    padding-left: 15px;
    font-size: 13px;
}


/* progess bar ka section yaha se start ho raha hai  */

.clfab3 {
    margin-top: 70px;
    margin-bottom: 70px;
}

.progressbar_section1 {
    padding-bottom: 0px;
    padding-top: 0px;
}

.counter {
    background-color: #0a0f25;
    text-align: center;
}

.employees,
.customer,
.design,
.order {
    margin-top: 70px;
    margin-bottom: 70px;
}

.counter_bardiv33 {
    width: 135px;
    margin-left: auto;
    margin-right: auto;
    border-bottom: 2px solid #fff;
    height: 90px;
    margin-bottom: 15px;
}

.counter-count {
    font-size: 35px;
    /* text-decoration: underline; */
    /* background-color: #00b3e7; */
    border-radius: 50%;
    position: relative;
    color: #ffffff;
    text-align: center;
    line-height: 110px;
    -webkit-border-radius: 0%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    display: inline-block;
    padding-bottom: 0px;
    /* border-bottom: 2px solid #fff; */
}

.employee-p,
.customer-p,
.order-p,
.design-p {
    font-size: 18px;
    color: #fff;
    line-height: 34px;
}

.counter_span22 {
    font-size: 35px;
    /* margin-left: -20px; */
    color: #fff;
}

.counter_span33 {
    font-size: 35px;
    /* margin-right: -20px; */
    color: #fff;
}


/* footer ka section yaha se start ho raha hai  */

#contact {
    width: 100%;
    display: block;
    min-height: 80vh;
    /* background-image: url("https://cyntralabs.com/assets/img/HotAirBalloon.gif"); */
    background: #0a1124 !important;
    background-position: center top;
    background-size: cover;
    margin: 3rem 0 0 0;
}

.fot {
    padding-top: 2rem;
}

.foologo {
    margin-top: 2rem;
    margin-bottom: 2rem;
    padding-top: 2rem;
    display: flex;
    justify-content: center;
}

.footer .logo {
    padding: 0 15px;
    margin-top: 3px;
}

.footer .logo a {
    font-size: 30px;
    text-transform: capitalize;
    color: #39b7ff;
    font-weight: 600;
}

.focon {
    margin: auto;
    padding: auto;
    display: flex;
    justify-content: center;
}

.fohead {
    text-align: left;
    font-size: 25px;
    color: white;
}

.flag {
    max-height: 50px;
    max-width: 50px;
    padding: 10px;
}

.foadd {
    margin-top: 1rem;
    color: white;
    text-align: left;
    display: flex;
    justify-content: center;
    font-size: 18px;
}

.folinks {
    margin-top: 1rem;
    color: white;
    text-align: left;
    display: flex;
    justify-content: center;
    font-size: 18px;
}

.folinks ul li>a {
    color: white;
    line-height: 2rem;
}

.folinks ul li:hover>a {
    color: #00a2fe;
}

.foform {
    margin-top: 1rem;
    color: white;
    text-align: left;
    display: flex;
    justify-content: center;
}

.formfi {
    background: transparent;
    border: 0px;
    border-bottom: 1px solid #ccc;
    width: 350px;
    font-size: 14px;
    font-family: SF UI Display light, sans-serif;
    margin-bottom: 10px;
    color: #bbb;
    padding-left: 0px;
}

.textarea {
    width: 350px;
}

.formbtn {
    background-color: #117ea7;
    width: 350px;
    padding-top: 5px;
    padding-bottom: 5px;
    border: none;
    border-radius: 4px;
}

.copyright {
    display: flex;
    justify-content: center;
    color: #fff;
    margin-top: 3rem;
    /* margin-bottom: 1rem; */
}

.copy {
    font-size: 15px;
    margin-top: 3rem;
    margin-bottom: 4rem;
}

.gozoom {
    font-weight: bolder;
}

#contact {
    width: 100%;
    display: block;
    min-height: 80vh;
    /* background-image: url("https://cyntralabs.com/assets/img/HotAirBalloon.gif"); */
    background: #0a1124 !important;
    background-position: center top;
    background-size: cover;
    margin: 3rem 0 0 0;
}

.fot {
    padding-top: 2rem;
}

.foologo {
    margin-top: 2rem;
    margin-bottom: 2rem;
    padding-top: 2rem;
    display: flex;
    justify-content: center;
}

.footer .logo {
    padding: 0 15px;
    margin-top: 3px;
}

.footer .logo a {
    font-size: 30px;
    text-transform: capitalize;
    color: #39b7ff;
    font-weight: 600;
}

.focon {
    margin: auto;
    padding: auto;
    display: flex;
    justify-content: center;
}

.fohead {
    text-align: left;
    font-size: 25px;
    color: white;
}

.flag {
    max-height: 50px;
    max-width: 50px;
    padding: 10px;
}

.foadd {
    margin-top: 1rem;
    color: white;
    text-align: left;
    display: flex;
    justify-content: center;
    font-size: 18px;
}

.folinks {
    margin-top: 1rem;
    color: white;
    text-align: left;
    display: flex;
    justify-content: center;
    font-size: 18px;
}

.folinks ul li>a {
    color: white;
    line-height: 2rem;
}

.folinks ul li:hover>a {
    color: #00a2fe;
}

.foform {
    margin-top: 1rem;
    color: white;
    text-align: left;
    display: flex;
    justify-content: center;
}

.formfi {
    background: transparent;
    border: 0px;
    border-bottom: 1px solid #ccc;
    width: 350px;
    font-size: 14px;
    font-family: SF UI Display light, sans-serif;
    margin-bottom: 10px;
    color: #bbb;
    padding-left: 0px;
}

.textarea {
    width: 350px;
}

.formbtn {
    background-color: #117ea7;
    width: 350px;
    padding-top: 5px;
    padding-bottom: 5px;
    border: none;
    border-radius: 4px;
}

.copyright {
    display: flex;
    justify-content: center;
    color: #fff;
    margin-top: 3rem;
    /* margin-bottom: 1rem; */
}

.copy {
    font-size: 15px;
    margin-top: 3rem;
    margin-bottom: 4rem;
}

.gozoom {
    font-weight: bolder;
}

#contact {
    width: 100%;
    display: block;
    min-height: 80vh;
    /* background-image: url("https://cyntralabs.com/assets/img/HotAirBalloon.gif"); */
    background: #0a1124 !important;
    background-position: center top;
    background-size: cover;
    margin: 3rem 0 0 0;
}

.fot {
    padding-top: 2rem;
}

.foologo {
    margin-top: 2rem;
    margin-bottom: 2rem;
    padding-top: 2rem;
    display: flex;
    justify-content: center;
}

.footer .logo {
    padding: 0 15px;
    margin-top: 3px;
}

.footer .logo a {
    font-size: 30px;
    text-transform: capitalize;
    color: #39b7ff;
    font-weight: 600;
}

.footer .logo a img {
    width: 100%;
    height: 70px !important;
}

.focon {
    margin: auto;
    padding: auto;
    display: flex;
    justify-content: center;
}

.fohead {
    text-align: left;
    font-size: 25px;
    color: white;
}

.flag {
    max-height: 50px;
    max-width: 50px;
    padding: 10px;
}

.foadd {
    margin-top: 1rem;
    color: white;
    text-align: left;
    display: flex;
    justify-content: center;
    font-size: 18px;
}

.foadd h3 {
    font-size: 18px;
}

.folinks {
    margin-top: 1rem;
    color: white;
    text-align: left;
    display: flex;
    justify-content: center;
    font-size: 18px;
}

.folinks ul li>a {
    color: white;
    line-height: 2rem;
}

.folinks ul li:hover>a {
    color: #00a2fe;
}

.foform {
    margin-top: 1rem;
    color: white;
    text-align: left;
    display: flex;
    justify-content: center;
}

.formfi {
    background: transparent;
    border: 0px;
    border-bottom: 1px solid #ccc;
    width: 350px;
    font-size: 14px;
    font-family: SF UI Display light, sans-serif;
    margin-bottom: 10px;
    color: #bbb;
    padding-left: 0px;
}

.textarea {
    width: 350px;
}

.formbtn {
    background-color: #117ea7;
    width: 350px;
    padding-top: 5px;
    padding-bottom: 5px;
    border: none;
    border-radius: 4px;
}

.copyright {
    display: flex;
    justify-content: center;
    color: #fff;
    margin-top: 3rem;
    /* margin-bottom: 1rem; */
}

.copy {
    font-size: 15px;
    margin-top: 3rem;
    margin-bottom: 4rem;
}

.gozoom {
    font-weight: bolder;
}