@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@600&display=swap');
body {
    line-height: 1.5;
    font-family: Gill Sans, sans-serif;
    /* font-weight: 400; */
}

body.hidden-scroling {
    overflow-y: hidden;
}

* {
    margin: 0;
    box-sizing: border-box;
}

.container1 {
    width: 100%;
    margin-top: 0;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}


/* HEADER HAI YAHA PE  */

.header {
    position: fixed;
    width: 100%;
    /* left: 0; */
    /* top: 0; */
    z-index: 999;
    padding: 0px;
    margin-top: 0;
}

.header-main {
    background-color: #000;
    display: flex;
    justify-content: space-between;
    padding: 3px 0;
    /* border-radius: 10px; */
    box-shadow: 2px 2px;
}

.header .logo {
    padding: 0 15px;
    margin-top: 3px;
}

.header .logo a {
    font-size: 30px;
    text-transform: capitalize;
    color: #39b7ff;
    font-weight: 600;
}

.header .nav-menu {
    padding: 0 50px;
}

.header .menu>.menu-item {
    display: inline-block;
    margin-left: 20px;
    position: relative;
}

.header .menu>.menu-item>a {
    display: block;
    padding: 12px 0;
    font-size: 14px;
    color: #ffffff;
    font-family: Gill Sans, sans-serif;
    font-weight: 400;
    transition: all 0.3s ease;
}

.header .menu>.menu-item>.sub-menu>.menu-item:hover>a,
.header .menu>.menu-item:hover>a {
    color: #39b7ff;
}

.header .menu>.menu-item>.sub-menu {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    width: 220px;
    position: absolute;
    left: 0;
    top: 100%;
    background-color: #ffffff;
    padding: 10px 0;
    border-top: 3px solid #39b7ff;
    transform: translateY(10px);
    transition: all 0.3s ease;
    opacity: 0;
    visibility: hidden;
}

@media (min-width: 992px) {
    .header .menu>.menu-item-has-children:hover>.sub-menu {
        transform: translateY(0);
        opacity: 1;
        visibility: visible;
    }
    .header .menu>.menu-item-has-children:hover>a .plus:after {
        transform: translate(-50%, -50%) rotate(0deg);
    }
}

.header .menu>.menu-item>.sub-menu>.menu-item {
    display: block;
}

.header .menu>.menu-item>.sub-menu>.menu-item>a {
    display: block;
    padding: 10px 20px;
    font-size: 16px;
    font-weight: 600;
    color: #000000;
    transition: all 0.3s ease;
    text-transform: capitalize;
}

.header .open-nav-menu {
    height: 34px;
    width: 40px;
    margin-right: 15px;
    margin-top: 5px;
    display: none;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.header .open-nav-menu span {
    display: block;
    height: 3px;
    width: 24px;
    background-color: #39b7ff;
    position: relative;
}

.header .open-nav-menu span:before,
.header .open-nav-menu span:after {
    content: "";
    position: absolute;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #39b7ff;
    box-sizing: border-box;
}

.header .open-nav-menu span:before {
    top: -7px;
}

.header .open-nav-menu span::after {
    top: 7px;
}

.header .close-nav-menu {
    height: 40px;
    width: 40px;
    background-color: #ffffff;
    margin: 0 0 15px 15px;
    cursor: pointer;
    display: none;
    align-items: center;
    justify-content: center;
}

.header .close-nav-menu img {
    width: 16px;
}

.header .menu-overlay {
    position: fixed;
    z-index: 999;
    background-color: rgba(0, 0, 0, 0.5);
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    visibility: hidden;
    opacity: 0;
    transition: all 0.3s ease;
}

.header .menu-overlay.active {
    visibility: visible;
    opacity: 1;
}


/* home section yaha se shuru ho raha hai  */

.home-section {
    width: 100%;
    display: block;
    min-height: 100vh;
    background-image: url("../images/pi.jpg");
    background-position: center top;
    background-size: cover;
}


/* responsive ka sara material yaha pe hai  */

@media (max-width: 756px) {
    .header .nav-menu {
        position: fixed;
        right: -280px;
        visibility: hidden;
        width: 280px;
        height: 100%;
        top: 0;
        overflow-y: auto;
        z-index: 1000;
        padding: 15px 0;
        background-color: #222222;
        transition: all 0.5s ease;
    }
    .header .nav-menu.open {
        visibility: visible;
        right: 0px;
    }
    .header .menu>.menu-item {
        display: block;
        margin: 0;
    }
    .header .menu>.menu-item-has-children>a {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .header .menu>.menu-item>a {
        color: #ffffff;
        padding: 12px 15px;
        border-bottom: 1px solid #333333;
    }
    .header .menu>.menu-item:first-child>a {
        border-top: 1px solid #333333;
    }
    .header .menu>.menu-item>a .plus:before,
    .header .menu>.menu-item>a .plus:after {
        background-color: #ffffff
    }
    .header .menu>.menu-item-has-children.active>a .plus:after {
        transform: translate(-50%, -50%) rotate(0deg);
    }
    .header .menu>.menu-item>.sub-menu {
        width: 100%;
        position: relative;
        opacity: 1;
        visibility: visible;
        border: none;
        background-color: transparent;
        box-shadow: none;
        transform: translateY(0px);
        padding: 0px;
        left: auto;
        top: auto;
        max-height: 0;
        overflow: hidden;
    }
    .header .menu>.menu-item>.sub-menu>.menu-item>a {
        padding: 12px 45px;
        color: #ffffff;
        border-bottom: 1px solid #333333;
    }
    .header .close-nav-menu,
    .header .open-nav-menu {
        display: flex;
    }
}


/* yaha se heading and main page start ki css start ho rahi hai 
 */

.heading {
    background: transparent;
    margin-top: 17rem;
    position: absolute;
    z-index: 99;
}

.hero {
    text-align: center;
    color: #fff;
    font-size: 2.5rem;
}

.hero>a {
    text-decoration: none;
    color: #fff;
}

.hero:hover>a {
    text-decoration: none;
}

.integration:hover {
    color: #39b7ff;
}

.retail:hover {
    color: #39b7ff;
}

.explore-container {
    margin-top: 6rem;
    margin-bottom: 6rem;
}

.explore-content {
    margin-top: 3rem;
}

.explore {
    background-color: #2a4c79bf;
    color: white;
    font-size: larger;
    font-weight: bold;
    padding: .7rem 0;
    margin-left: 1rem;
    margin-top: 1rem;
    display: flexbox;
    position: absolute;
}

.baac {
    background-color: #16a9e2;
    padding: 2rem 10rem;
    display: flexbox;
    position: absolute;
    z-index: -99;
}

.m1 {
    background-color: #e5e6eb;
    margin-top: 200px;
    padding: 35px;
}

.m1 .para1>p {
    letter-spacing: 1px !important;
    color: #394b72 !important;
    text-align: left !important;
    font-size: 1.4rem !important;
}

.icon-heading {
    padding: 20px 20px;
}

.icon {
    margin: 5px;
    color: #16a9e2;
}

.check-heading {
    /* padding: 0 0 10px 45px; */
    color: #394b72;
    font-weight: 600 !important;
    padding-left: 15px !important;
    font-size: 22px;
    padding-bottom: 10px !important;
    line-height: 1;
    margin-bottom: 5px !important;
}


/* card yaha se shuru ho rahe hai */

.c-img {
    margin-top: 100px;
    /* display: flex; */
}

.row-image {
    padding-left: 40px;
}

.image-card {
    margin: auto;
    padding: 20px;
}

.c-body {
    background-color: #e5e6eb;
}

.card-p {
    letter-spacing: 1px !important;
    color: #117ea7 !important;
    text-align: left !important;
    padding: 15px 8px !important;
    font-size: 1.3rem !important;
    margin-top: 20px !important;
    margin-bottom: 0px !important;
}

.c-btn {
    background-color: #117ea7;
    padding-left: 1rem;
    padding-right: 1rem;
    border-radius: 20px;
    margin-bottom: 2rem;
}

.c-para {
    /* margin-bottom: 1.7rem; */
    padding-bottom: 2.6rem;
}


/* second image section yaha se shuru ho raha hai bro */

#img2 {
    width: 100%;
    display: block;
    min-height: 100vh;
    background-image: url("https://cyntralabs.com/assets/img/kiosk-retail2.png");
    background-position: center top;
    background-size: cover;
    margin: 3rem 0 3rem 0;
}

.head1 {
    background-color: transparent;
    text-align: left;
    font-size: 60px;
    font-weight: 800;
    padding: 2rem;
    color: #fff;
}

.p2 {
    background-color: transparent;
    color: #fff;
    text-align: left;
    margin: auto;
    font-size: 20px;
    padding: 2rem;
}

.c-btn2 {
    background-color: #117ea7;
    padding-left: 1rem;
    padding-right: 1rem;
    border-radius: 20px;
    margin-bottom: 2rem;
    margin-left: 1.8rem;
}


/* testimoniala section yaha se shuru ho raha hai bhai */


/* Importing fonts from Google */


/* Reseting */

.owl-carousel .owl-item {
    transition: all 0.3s ease-in-out;
}

.owl-carousel .owl-item .card {
    padding: 30px;
    position: relative;
}

.owl-carousel .owl-stage-outer {
    overflow-y: auto !important;
    padding-bottom: 40px;
}

.owl-carousel .owl-item img {
    height: 200px;
    object-fit: cover;
    border-radius: 6px;
}

.owl-carousel .owl-item .card .name {
    position: absolute;
    bottom: -20px;
    left: 33%;
    color: #101c81;
    font-size: 1.1rem;
    font-weight: 600;
    background-color: aquamarine;
    padding: 0.3rem 0.4rem;
    border-radius: 5px;
    box-shadow: 2px 3px 15px #3c405a;
}

.owl-carousel .owl-item .card {
    opacity: 0.2;
    transform: scale3d(0.8, 0.8, 0.8);
    transition: all 0.3s ease-in-out;
}

.owl-carousel .owl-item.active.center .card {
    opacity: 1;
    transform: scale3d(1, 1, 1);
}

.owl-carousel .owl-dots {
    display: inline-block;
    width: 100%;
    text-align: center;
}

.owl-theme .owl-dots .owl-dot span {
    height: 20px;
    background: #2a6ba3 !important;
    border-radius: 2px !important;
    opacity: 0.8;
}

.owl-theme .owl-dots .owl-dot.active span,
.owl-theme .owl-dots .owl-dot:hover span {
    height: 13px;
    width: 13px;
    opacity: 1;
    transform: translateY(2px);
    background: #83b8e7 !important;
}

@media(min-width: 480.6px) and (max-width: 575.5px) {
    .owl-carousel .owl-item .card .name {
        left: 24%;
    }
}

@media(max-width: 360px) {
    .owl-carousel .owl-item .card .name {
        left: 30%;
    }
}