@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@600&display=swap');
body {
    line-height: 1.5;
    font-family: Gill Sans, sans-serif;
    /* font-weight: 400; */
}

body.hidden-scroling {
    overflow-y: hidden;
}

* {
    margin: 0;
    box-sizing: border-box;
}

.container1 {
    width: 100%;
    margin-top: 0;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}


/* HEADER HAI YAHA PE  */

.header {
    position: fixed;
    width: 100%;
    /* left: 0; */
    /* top: 0; */
    z-index: 999;
    padding: 0px;
    margin-top: 0;
}

.header-main {
    background-color: #000;
    display: flex;
    justify-content: space-between;
    padding: 3px 0;
    /* border-radius: 10px; */
    box-shadow: 2px 2px;
}

.header .logo {
    padding: 0 15px;
    margin-top: 3px;
}

.header .logo a {
    font-size: 30px;
    text-transform: capitalize;
    color: #39b7ff;
    font-weight: 600;
}

.header .nav-menu {
    padding: 0 50px;
}

.header .menu>.menu-item {
    display: inline-block;
    margin-left: 20px;
    position: relative;
}

.header .menu>.menu-item>a {
    display: block;
    padding: 12px 0;
    font-size: 14px;
    color: #ffffff;
    font-family: Gill Sans, sans-serif;
    font-weight: 400;
    transition: all 0.3s ease;
}

.header .menu>.menu-item>.sub-menu>.menu-item:hover>a,
.header .menu>.menu-item:hover>a {
    color: #39b7ff;
}

.header .menu>.menu-item>.sub-menu {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    width: 220px;
    position: absolute;
    left: 0;
    top: 100%;
    background-color: #ffffff;
    padding: 10px 0;
    border-top: 3px solid #39b7ff;
    transform: translateY(10px);
    transition: all 0.3s ease;
    opacity: 0;
    visibility: hidden;
}

@media (min-width: 992px) {
    .header .menu>.menu-item-has-children:hover>.sub-menu {
        transform: translateY(0);
        opacity: 1;
        visibility: visible;
    }
    .header .menu>.menu-item-has-children:hover>a .plus:after {
        transform: translate(-50%, -50%) rotate(0deg);
    }
}

.header .menu>.menu-item>.sub-menu>.menu-item {
    display: block;
}

.header .menu>.menu-item>.sub-menu>.menu-item>a {
    display: block;
    padding: 10px 20px;
    font-size: 16px;
    font-weight: 600;
    color: #000000;
    transition: all 0.3s ease;
    text-transform: capitalize;
}

.header .open-nav-menu {
    height: 34px;
    width: 40px;
    margin-right: 15px;
    margin-top: 5px;
    display: none;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.header .open-nav-menu span {
    display: block;
    height: 3px;
    width: 24px;
    background-color: #39b7ff;
    position: relative;
}

.header .open-nav-menu span:before,
.header .open-nav-menu span:after {
    content: "";
    position: absolute;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #39b7ff;
    box-sizing: border-box;
}

.header .open-nav-menu span:before {
    top: -7px;
}

.header .open-nav-menu span::after {
    top: 7px;
}

.header .close-nav-menu {
    height: 40px;
    width: 40px;
    background-color: #ffffff;
    margin: 0 0 15px 15px;
    cursor: pointer;
    display: none;
    align-items: center;
    justify-content: center;
}

.header .close-nav-menu img {
    width: 16px;
}

.header .menu-overlay {
    position: fixed;
    z-index: 999;
    background-color: rgba(0, 0, 0, 0.5);
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    visibility: hidden;
    opacity: 0;
    transition: all 0.3s ease;
}

.header .menu-overlay.active {
    visibility: visible;
    opacity: 1;
}


/* home section yaha se shuru ho raha hai  */

.home-section {
    width: 100%;
    display: block;
    min-height: 100vh;
    background-image: url("../images/pic1.jpg");
    background-position: center top;
    background-size: cover;
}


/* responsive ka sara material yaha pe hai  */

@media (max-width: 756px) {
    .header .nav-menu {
        position: fixed;
        right: -280px;
        visibility: hidden;
        width: 280px;
        height: 100%;
        top: 0;
        overflow-y: auto;
        z-index: 1000;
        padding: 15px 0;
        background-color: #222222;
        transition: all 0.5s ease;
    }
    .header .nav-menu.open {
        visibility: visible;
        right: 0px;
    }
    .header .menu>.menu-item {
        display: block;
        margin: 0;
    }
    .header .menu>.menu-item-has-children>a {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .header .menu>.menu-item>a {
        color: #ffffff;
        padding: 12px 15px;
        border-bottom: 1px solid #333333;
    }
    .header .menu>.menu-item:first-child>a {
        border-top: 1px solid #333333;
    }
    .header .menu>.menu-item>a .plus:before,
    .header .menu>.menu-item>a .plus:after {
        background-color: #ffffff
    }
    .header .menu>.menu-item-has-children.active>a .plus:after {
        transform: translate(-50%, -50%) rotate(0deg);
    }
    .header .menu>.menu-item>.sub-menu {
        width: 100%;
        position: relative;
        opacity: 1;
        visibility: visible;
        border: none;
        background-color: transparent;
        box-shadow: none;
        transform: translateY(0px);
        padding: 0px;
        left: auto;
        top: auto;
        max-height: 0;
        overflow: hidden;
    }
    .header .menu>.menu-item>.sub-menu>.menu-item>a {
        padding: 12px 45px;
        color: #ffffff;
        border-bottom: 1px solid #333333;
    }
    .header .close-nav-menu,
    .header .open-nav-menu {
        display: flex;
    }
}


/* yaha se heading and main page start ki css start ho rahi hai 
 */

.heading {
    background: transparent;
    margin-top: 17rem;
    position: absolute;
    z-index: 99;
}

.hero {
    text-align: center;
    color: #fff;
    font-size: 2.5rem;
}

.hero>a {
    text-decoration: none;
    color: #fff;
}

.hero:hover>a {
    text-decoration: none;
}

.integration:hover {
    color: #39b7ff;
}

.retail:hover {
    color: #39b7ff;
}


/* .explore-container {
    margin-top: 6rem;
    margin-bottom: 6rem;
}

.explore-content {
    margin-top: 3rem;
}

.explore {
    background-color: #2a4c79bf;
    color: white;
    font-size: larger;
    font-weight: bold;
    padding: .7rem 0;
    margin-left: 1rem;
    margin-top: 1rem;
    display: flexbox;
    position: absolute;
}

.baac {
    background-color: #16a9e2;
    padding: 2rem 10rem;
    display: flexbox;
    position: absolute;
    z-index: -99;
}

.m1 {
    background-color: #e5e6eb;
    margin-top: 200px;
    padding: 35px;
}

.m1 .para1>p {
    letter-spacing: 1px !important;
    color: #394b72 !important;
    text-align: left !important;
    font-size: 1.4rem !important;
}

.icon-heading {
    padding: 20px 20px;
} */